<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <extended_search>
            <general>
                <api_endpoint>https://change-me-craft-url.com/api</api_endpoint>
                <result_limit>5</result_limit>
            </general>
        </extended_search>
    </default>
</config>
