<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="glue" translate="label" sortOrder="999">
            <label>Glue</label>
        </tab>
        <section id="extended_search" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Extended Search</label>
            <tab>glue</tab>
            <resource>GlueTeam_ExtendedSearch::extended_search_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="api_endpoint" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Api endpoint</label>
                    <comment>Add the craft api url</comment>
                </field>
                <field id="result_limit" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Result limit</label>
                    <comment>Set the maximum amount of results.</comment>
                    <validate>validate-digits validate-not-negative-number validate-digits-range digits-range-0-10</validate>
                </field>
            </group>
        </section>
    </system>
</config>
